.DS_Store
.idea
.parcel-cache
.tmp

coverage
dist
node_modules
storybook-static

*.log
*.tsbuildinfo

# Temporarily excluded for dev purposes, don't let me accidentally forget this and merge it in
.rovodev
scripts/yalc-publish.sh
**/*.tgz
